@keyframes fadeGlow {
    0% {
        color: #3d2580;
        text-shadow: none;
    }

    100% {
        color: #ffffff;
        text-shadow: 0 0 10px #5e3bc1,
            0 0 20px #5e3bc1,
            0 0 40px #5e3bc1,
            0 0 80px #5e3bc1,
            0 0 160px #5e3bc1;
    }
}

@keyframes blinking {

    12%,
    50%,
    72% {
        color: #c8b4ff;
        text-shadow: 0 0 10px #5e3bc1,
            0 0 20px #5e3bc1,
            0 0 40px #5e3bc1,
    }

    0%,
    23%,
    61%,
    100% {
        color: #ffffff;
        text-shadow: 0 0 10px #5e3bc1,
            0 0 20px #5e3bc1,
            0 0 40px #5e3bc1,
            0 0 80px #5e3bc1,
            0 0 160px #5e3bc1;
    }
}